<div class={if @embedded?, do: "space-y-6", else: "mx-auto max-w-2xl space-y-6"}>
  <div :if={@connected?} class="space-y-4">
    <RsWeb.Live.Components.TripCard.render
      trip_values={@trip_values}
      trip={@trip}
      embedded?={@embedded?}
      expanded?={@expanded?}
      last_updated_seconds_ago={@last_updated_seconds_ago}
    />
  </div>
</div>
